include README.rst
include CHANGELOG.rst
include LICENSE.rst
include setup.cfg

recursive-include howl *.py
recursive-include howl/locale *
recursive-exclude howl/tests *
recursive-exclude examples/ *
recursive-exclude examples/example *
recursive-exclude build/ *
