include README.rst
include CHANGELOG.rst
include LICENSE.rst
include setup.cfg
exclude howl/settings.py

recursive-include howl *.py
recursive-include howl/locale *
recursive-exclude .DS_Store
recursive-exclude tests *
recursive-exclude build *
recursive-exclude examples *
