[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
factory-boy = "*"
twine = "*"

[packages]
django = "*"
django-howl = {editable = true,path = "."}
requests = "*"

[requires]
python_version = "3.6"
